/.env.sh
/tmp/*
/php-dev/config/php.ini
/php-dev/config/php-fpm.conf
/php-dev/config/redis.conf
/php-dev/config/my.cnf
/php-dev/config/mongod.conf

/php-production/config/php.ini
/php-production/config/php-fpm.conf

/php-dev/docker-compose.yml
